<!DOCTYPE html>
<head>
    <title>ACM Programming Competition</title>
    <link rel="stylesheet" type="text/css" href="/resource/css/style.css">
</head>
<html>
	<body onload="JavaScript:timedRefresh(10000);">
		<div class="page" align="center">
			<h1>UMass ACM Programming Competition 2013</h1>
			#if( $contestOpen == true && $contestOver == false )
				<h2 class="status_open">Contest is open</h2>
				<form action="/signin" method="POST">
					<table>
					<tr>
						<td>Username</td>
						<td><input type="text" name="username" /></td>
					</tr><tr>
						<td>Email</td>
						<td><input type="text" name="email" /></td>
					</tr><tr>
						<td><input type="submit" value="enter" /></td>
					</tr>
					</table>
				</form>
			#else
				<h2 class="status_closed">Contest is closed</h2>
				<h2>$remainingTime</h2>
				#if( $contestOver == true )
					<a href="/scoreboard" style="text-decoration:none;"><span class="scoreboard_link">View Scoreboard</span></a>
				#end
			#end
		</div>
	</body>
</html>
